
<%= javascript_include_tag 'Chart.bundle.min.js' ,:plugin => 'redtime' %>
<%= javascript_include_tag 'Chart.utils.js' ,:plugin => 'redtime' %>

<% require 'matrix' %>
<% @mtx=Matrix.build(5,3) {rand(0 .. 9)}  %>
<% @ma=Date.today-1 %>
<div style="width:40%">
  <table id="projectData">
    <tr>
      <th>User</th>
      <th>Date</th>
      <% @dataToShow.namesOfSprints.each do |sprint| %>
      <th><%= sprint %></th>
      <% end %>
    </tr>
    <% @dataToShow.dataItems.each do |item| %>
        <tr>
            <td><%= item.user %></td>
            <td><%= item.date %></td>
            <% item.sprints.each do |hoursOnSprint| %>
            <td> <%= hoursOnSprint %></td>
            <% end %>
        </tr>
    <% end %>
  </table>
</div>

<div style="width: 60%" >
    <canvas id="myChart"></canvas>
</div>

<script>
    var barChartData = {
            labels: [ "<%= @ma-4 %>", "<%= @ma-3 %>", "<%= @ma-2 %>", "<%= @ma-1 %>", "<%= @ma %>" ],
            datasets: [{
                label: 'Sprint 1',
                backgroundColor: window.chartColors.red,
                data: [
                    <%= @mtx[0,0] %>,
                    <%= @mtx[1,0] %>,
                    <%= @mtx[2,0] %>,
                    <%= @mtx[3,0] %>,
                    <%= @mtx[4,0] %>
                ]
            }, {
                label: 'Sprint 2',
                backgroundColor: window.chartColors.blue,
                data: [
                    <%= @mtx[0,1] %>,
                    <%= @mtx[1,1] %>,
                    <%= @mtx[2,1] %>,
                    <%= @mtx[3,1] %>,
                    <%= @mtx[4,1] %>
                ]
            }, {
                label: 'Sprint 3',
                backgroundColor: window.chartColors.green,
                data: [
                    <%= @mtx[0,2] %>,
                    <%= @mtx[1,2] %>,
                    <%= @mtx[2,2] %>,
                    <%= @mtx[3,2] %>,
                    <%= @mtx[4,2] %>
                ]
            }]
        };
    
window.onload = function(){
    var ctx = document.getElementById("myChart").getContext("2d");
    
    window.myBar = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: {
            title:{
                display:true,
                text:"<%= @dataToShow.projectName %>"
            },
            tooltips: {
                mode: 'index',
                intersect: false
            },
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }         
    });
};
</script>
